{% extends "../base.html" %}
{% block title %}Sprig Games{% endblock %}
{% block head %}
<link rel="stylesheet" href="/lists.css" />
{% endblock %}
{% block content %}
  {% for game in games %}
    <div class="spacer" style="--h:20px"></div>
    <div class="top li">
      <h1>{{ game.name }}</h1>
      <p>{{ game.description }}<br>View it <a href="{{ game.url }}">here</a>.</p>
    </div>
  {% else %}
    <div class="spacer" style="--h:20px"></div>
    <h1 class="top li" style="border-radius:5px;"><br><br>No games<br><br></p>
  {% endfor %}
{% endblock %}