{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="index.css" />
{% endblock %}
{% block content %}
<p>I am an Indie developer in Colorado. I am currently a teen, and I enjoy using Unity, HTML, JavaScript, NodeJS, as well as other things.</p>
<div>
  <button class="top" onclick="location.href='/projects'">Projects</button>
  <span style="--h:60px;" class="spacer"></span>
  <button class="top" onclick="location.href='/about'">About</button>
</div>
{% endblock %}